body
{
	margin: 0;
	padding: 0;
	background-color: white;
	background-size: cover;
	font-family: sans-serif;
}

.login
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px;
    border-radius: 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}

.login h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}
.login p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.login input
{
	width: 100%;
	margin-bottom: 20px;
}
.login input[type="text"],
.login input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.login input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
.login input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
 a:link, a:visited {
    
    color: #fff;
    border: none;
    padding: inherit;
    text-align: right;
    text-decoration: none;
     cursor: pointer;
     outline: none;
    display: flex;
}

a:hover, a:active {
    
    color: blueviolet;
}

.signUp
{
   position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 650px;
	padding: 80px;
    border-radius: 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
    
}
.signUp p
{
    font-weight: bold;
    margin: 0;
    padding: 0;
    width:inherit;
    font-size: 12px;
}
.signUp h2
{
    text-align: center;
    background: #ff267e;
    color: azure;
    padding: 9px;
    border-radius: 9px;
}
.signUp input
{
    padding: 9px;
    margin: 4px;
    border-radius: 5px;
    border: none;
}
form
{
    padding: 8px;
    
}
.signUp input[type=text],input[type=tel],input[type=email],input[type=date], input[type=password]
{
    width: 90%;
}
.signUp input[type=submit]
{
    width:95%;
    background: #ff267e;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: azure;
}
.signUp input[type=submit] :hover
{
    background: yellow;
}
